<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Etsy Test</title>
  </head>
  <body>
    <h1>I'm a header!</h1>
    <p><a href='/home'>Home </a><a href="/about">About </a><a href="/products">Products</a></p>

    {% block content %}
    {% endblock %}

    <h1>I'm a footer!</h1>

  </body>
</html>